spring:
  jpa:
    properties:
      hibernate:
        jdbc:
          use_get_generated_keys=true:
  application:
    name: club
  docker:
    compose:
      enabled: false
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver

